.App {
  text-align: center;
}
.player-div::after {
  content: "";
  width: 100%;
  height: 32%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-image: url("/world_bottom.png");
}
